*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* #main {
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/18550229/pexels-photo-18550229/free-photo-of-model-in-checked-blazer-and-boots.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
} */

/* #main {
    width: 20%;
    height: 40%;
    padding: 20px;
    background-color: red;
} */

/* #car1 {

    width: 100px;
    height: 120px;
    background-color: red;
}

#car2 {

    width: 110px;
    height: 90px;
    background-color: blue;
}

#car3 {
    width: 130px;
    height: 80px;
    background-color: green;
} */

/* #box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
}

#chota {
    position: absolute;
    left: 40%;
    width: 100px;
    height: 100px;
    background-color: yellow;
} */

#box {
    width: 500px;
    height: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: green;
}


