*{
    box-sizing: border-box;
}

.card {
    max-width: 300px;
    border: solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.appdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}